body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

form {
    width: 450px;
    padding: 30px;
}

label {
    padding: 5px;
}

form input {
    display: block;
    width: 50%;
    padding: 5px 10px;
    margin: 10px 0;

}

form button {
    display: block;
    width: 15%;
}
