.myApp {
    background-image: url("./assets/background4.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

main {
    margin: 0;
    padding: 0;
    font-family: "Courier New";
    color: #DB5E0D;
    font-size: 18px;
    background-color: #060A0D;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

footer {
    border-top: solid;
    padding: 40px;
}

footer a {
    color: #973B6F;
    font-size: 22px;
    font-family: "Courier New";
}

main .carousel {
    background-color: black;
    border-bottom: solid;
    color: #973B6F;
}

main .carousel-inner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main .carousel-caption {
    color: #DB5E0D;
    font-family: "Courier New";
}

main .carousel-inner img {
    opacity: 0.8;
}

main h2 {
    color: #DB5E0D;
    padding: 20px;
    text-align: center;
}

/*Navigation Menu*/

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: solid;
}

ul.header li {
    padding: 10px;
    float: left;
}

ul.header a.nav {
    display: block;
    color: #DB5E0D;
    font-family: "Courier New";
    font-size: 28px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#brand {
    color: #D328B4;
    font-weight: bold;
}

/*MovieDetails*/

.movieDescription {
    width: 100%;
    height: auto;
}

main .media {
    padding: 20px;
}

main .media img {
    padding: 10px;
}

main .media-heading {
    font-size: 30px;
    color: white;
    padding: 20px;
}

/*Schedule*/
.schedule {
    width: 100%;
    height: auto;
}

.daysOfWeek {
    margin-top: 10px;
    overflow: hidden;
    background-color: #060A0D;
    padding: 20px;
}

.otherDays, .actualDay {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Courier New";
    font-size: 20px;
}

.actualDay {
    color: #EA783B;
}

.otherDays:hover {
    background-color: #973B6F;
}

table.scheduledMovies {
    border-collapse: collapse;
    padding: 20px;
}

table.scheduledMovies td, table.scheduledMovies th {
    border: 1px #dddddd;
    text-align: left;
    cursor: pointer;
    color: #060A0D;
    border-bottom: 2px solid #EA783B;
    font-family: "Courier New";
    font-size: 16px;
}

tr.otherMovies:hover {
    background-color: #973B6F;
}

tr.selectedMovie {
    background-color: #973B6F;
}

/*seats*/

.seats {
    width: 100%;
    height: auto;
    background-color: #060A0D;
    padding-top: 20px;
}

.printedSeats {
    font-size: 16px;
    background-color: #222;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #222;
    display: table;
    margin: 20px auto;
}

li.emptySeat, li.freeSeat, li.chosenSeat, li.reservedSeat {
    float: left;
    width: 24px;
    height: 24px;
    display: inline-block;
    color: #111111;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    background-color: #EA783B;
    list-style-type: none;
}

li.emptySeat {
    border: 10px solid #222;
    background-color: #222;
    color: transparent;
    cursor: default;
}

div.CinemaHallRows p {
    color: white;
    display: inline-block;
    margin: 15px;
}

li.freeSeat:before {
    display: block;
    padding-top: 100%;

}

li.freeSeat:hover {
    background-color: #777777;
}

li.chosenSeat {
    background-color: #973B6F;
}

li.reservedSeat {
    background-color: white;
    cursor: not-allowed;
}

li.reservedSeat:before {
    display: block;
    padding-top: 100%;
}

.screen {
    background-color: #AAC5D0;
    margin: 5px 20px 40px;
    text-align: center;
    color: #060A0D;
}

.chosenSeats {
    color: white;
    padding: 10px;
    text-align: center;
    font-family: "Courier New";
    font-size: 22px;
}

.ticketType {
    margin: 5px;
    width: 120px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 36px;
    font-family: "Courier New";
    color: #973B6F;
}

/*Buttons*/
.backButton, .nextButton, .summaryButton, .payButton {
    background-color: #973B6F;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 50px 0px 50px 0px;
}

.nextButton, .summaryButton, .payButton {
    float: right;
}

.nextButton:disabled {
    cursor: not-allowed;
}

.payButton {
    background-color: #EA783B;
}

.btn:disabled{
    cursor: not-allowed;
}


/*Personal data*/

.personalData {
    width: 100%;
    height: auto;
    background-color: #060A0D;
    border-top: solid;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.PersonalDataForm {
    width: 450px;
    font-size: 16px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #060A0D;
    height: auto;
}

div.error {
    color: red;
    font-size: 20px;
}

.PersonalDataForm label {
    font-size: 20px;
    padding: 5px;
    color: #EA783B;
    font-family: "Courier New";
}

.PersonalDataForm input {
    display: block;
    width: 100%;
    color: white;
    font-size: 26px;
    background-color: black;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #973B6F;

}

/*ReservationSummary*/

.summary {
    width: 100%;
    height: auto;
}

.summaryData {
    width: 500px;
    font-size: 18px;
    padding: 30px 30px 15px 30px;
    margin-left: auto;
    margin-right: auto;
}

.summaryData li {
    font-size: 20px;
    color: white;
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #973B6F;
}

.reservationData {
    color: #EA783B;
    font-size: 22px
}

li.reservationSeat {
    border: none;
}

/*Movies responsive*/

div.gallery {
    text-align: center;
    color: #EA783B;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

img.movieImage {
    border: 1px solid #973B6F;
    height: auto;
}

div.gallery div.movieDescription {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 20px 30px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 600px) {
    .responsive {
        width: 49.99999%;
        margin: 2px 0;
    }
}

@media only screen and (max-width: 600px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*PaymentSuccess*/

.paymentSuccess {
    width: 100%;
    height: auto;
    background-color: #060A0D;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.paymentSuccess h1 {
    margin-top: 100px;
    text-align: center;
    color: #AAC5D0;
    font-family: "Courier New";
    font-size: 30px;
}

.paymentSuccess h3 {
    color: #EA783B;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    ul.header a.nav {
        padding: 5px;
        font-size: 18px;
    }

    main .carousel {
        display: none;
    }

    main h3 {
        font-size: 16px;
    }

    .daysOfWeek {
        padding: 7px;
    }

    .otherDays, .actualDay {
        padding: 0px;
        font-size: 16px;
    }

    table.scheduledMovies td, th, tr {
        text-align: left;
        color: white;
        font-family: "Courier New";
        font-size: 14px;
    }

    li.emptySeat, li.freeSeat, li.chosenSeat, li.reservedSeat {
        width: 17px;
        height: 19px;
        margin: 1.5px;
    }

    li.emptySeat {
        border: 5px solid #222;
    }


    .printedSeats {
        font-size: 12px;
        background-color: #222;
        border-style: solid;
        border-color: #222;
        display: table;
        margin: 10px auto;
    }

    li.freeSeat:hover {
        background-color: #EA783B;
    }

    div.CinemaHallRows p {
        margin: 4px;
    }

    .chosenSeats {
        padding: 10px;
        font-size: 18px;
    }

    .ticketType {
        margin: 5px;
        width: 100px;
        padding: 5px;
        font-size: 16px;
    }

    .personalData {
        width: auto;
        height: auto;
        background-color: #060A0D;
        padding: 10px;

    }

    .PersonalDataForm {
        width: auto;
        padding: 10px;
    }

    .PersonalDataForm label {
        width: auto;
        font-size: 18px;
        padding: 5px;
    }

    .PersonalDataForm input {
        font-size: 18px;
        padding: 5px;
        margin: 0;
    }

    .summary {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 0;

    }

    .summaryData {
        width: 100%;
        margin-left: 0;
    }

    .reservationData {
        color: #EA783B;
        font-size: 16px
    }

    .summaryData li {
        font-size: 14px
    }

    .moviesSchedule {
        width: 100%;
        float: none;
    }

    .prices {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    main .media {
        padding: 10px;
        font-size: 16px;
    }

    main .media img {
        display: none;
    }

    .paymentSuccess {
        width: 100%;
        height: auto;
        background-color: #060A0D;
        border-top: none;
        padding: 30px;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .paymentSuccess h1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .backButton, .nextButton, .summaryButton, .payButton {
        padding: 10px 24px;
        margin: 20px 0px 20px 0px;
        font-size: 14px;
    }

    footer {
        border-top: solid;
        padding: 20px;
    }

    footer a {
        font-size: 14px;
    }
}


